{% load static %}
<div class="container">
    <h2 class="text-upper font-size-100  margin-zero font-xs-60">nuestros destinos</h2>
    <div class="landing-cards">
        <div class="city-card">
            <a href="#" class="text-clean">
                <img src="{% static 'images/barcelona.png' %}">
                <p>Barcelona</p>
            </a>
        </div>
        <div class="city-card">
            <a href="#" class="text-clean">
                <img src="{% static 'images/madrid.png' %}">
                <p>Madrid</p>
            </a>
        </div>
        <div class="city-card">
            <a href="#" class="text-clean">
                <img src="{% static 'images/valencia.png' %}">
                <p>Valencia</p>
            </a>
        </div>
    </div>
</div>