{% load static %}
<div class="">
    <div class="row">
        <div class="col-sm-12 col-md-4 room-item-listing">
            <div class="properti-item">
                <a href="#">
                    <div class="property-title">nombre de propeidad</div>
                    <div class="property-place">datos de ubicación</div>
                </a>
                <div class="slider-wrap">
                    <div class="slider">
                        <img href="slide#1" src="{% static 'images/property1.png' %}" alt="First Image">
                        <img href="slide#2" src="{% static 'images/property1.png' %}" alt="First Image">
                        <img href="slide#3" src="{% static 'images/property1.png' %}" alt="First Image">
                    </div>
                    <div class="slider-nav"> 
                        <a href="#slide-1">1</a>
                        <a href="#slide-2">2</a>
                        <a href="#slide-3">3</a>
                      </div>
                </div>
                <div></div>
            </div>
            
        </div>
    </div>
    <div class="property-content">algo de contenido</div>
</div>